name: Docker Image CI

on:
  push:
    branches: ["main"]
  pull_requests:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu:latest


    steps:
    - uses: actions/ceckout@v3



    - 
      name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

      name: Login to DockerHub
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}
    - 
      name: Build and push
      uses: docker/build-push-action@v3
      with:
        push: true
        tags: 6921bb4d49e7/angular-material:light


    - 
      name: Install Trivy
      run: |
        sudo apt-get update -y
        sudo apt-get install wget -y
        wget https://github.com/aquasecurity/trivy/releases/download/v0.44.0/trivy_0.44.0_Linux-64bit.deb
        sudo dpkg -i trivy_0.44.0_Linux-64bit.deb


    - 
      name: Scan Docker image with Trivy
      run: |
        trivy image ${username}/angular-material:light
